In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
fd = pd.read_csv('vehicles.csv')

In [6]:
import numpy as np 
df = fd.drop(columns= ['id','url','region_url','image_url','lat','long','description','region','vin','paint_color','state','county','title_status'])
df = df[(df['price'] < 100000) & (df['price'] > 850) & (df['odometer'] < 300000) & (df['odometer'] > 1000) & (df['year'] > 1985)]

In [9]:
mean_price= df.price.mean()
print(mean_price)

14627.89024607097

In [7]:
avg_odo_cond =df.groupby('condition')['odometer'].agg([np.nanmin,np.nanmax,np.nanmean])
avg_year_cond = df.groupby('condition')['year'].agg([np.nanmin,np.nanmax,np.nanmean])
avg_price_cond = df.groupby('condition')['price'].agg([np.nanmin,np.nanmax,np.nanmean])
print(avg_odo_cond)
print(avg_year_cond)
print(avg_price_cond)
condition = df['condition']
condition.value_counts()
print(df.dtypes)

           nanmin    nanmax        nanmean
condition
excellent  1001.0  299999.0  108791.470909
fair       1640.0  299999.0  173624.554540
good       1062.0  299999.0  102121.286686
like new   1024.0  298000.0   81326.748015
new        1050.0  234000.0   62842.951064
salvage    1234.0  297475.0  128002.676871
           nanmin  nanmax      nanmean
condition
excellent  1986.0  2021.0  2010.206232
fair       1986.0  2019.0  2002.579322
good       1986.0  2021.0  2010.470612
like new   1986.0  2020.0  2012.197496
new        1986.0  2020.0  2013.365957
salvage    1986.0  2019.0  2007.561224
           nanmin  nanmax       nanmean
condition
excellent     895   99991  12776.704346
fair          875   75000   3506.128377
good          852   99995  12978.418499
like new      895   99888  16329.763940
new          1000   99000  20919.236170
salvage       900   27750   5164.248299
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
transmission     object
drive            object
size             object
type             object
dtype: object

In [27]:
df['condition'] = df['condition'].fillna('good')

In [28]:
df.isnull().sum()

price                0
year                 0
manufacturer     10567
model             3181
condition            0
cylinders       133749
fuel              2581
odometer             0
transmission      3143
drive            79091
size            254761
type             69542
dtype: int64

In [29]:

df.dropna(subset= ['manufacturer','cylinders','size',], how='all', inplace=True)

In [30]:
df.isnull().sum()

price                0
year                 0
manufacturer      7986
model             3181
condition            0
cylinders       131168
fuel              2554
odometer             0
transmission      3102
drive            77454
size            252180
type             68207
dtype: int64

In [31]:
df = df.sort_values(by =['manufacturer', 'model'])
print(df)

        price    year manufacturer                   model  condition  \
239658   2300  1999.0        acura                   2.3cl       good
447187   6450  2006.0        acura            2006 tl. 3.2  excellent
16757    1500  1997.0        acura                  3.0 cl       fair
38841    3480  1999.0        acura                   3.0cl  excellent
65746    3780  1999.0        acura                   3.0cl  excellent
...       ...     ...          ...                     ...        ...
126299   5500  1990.0          NaN                wrangler       good
230473  10500  2002.0          NaN              wrangler X  excellent
78474    8999  2008.0          NaN                      x5  excellent
453909  11950  2008.0          NaN      ♿ BRAUN ENTERVAN ♿  excellent
470946  11950  2008.0          NaN  ♿ BRAUN WHEELCHAIR VAN  excellent

          cylinders fuel  odometer transmission drive       size      type
239658          NaN  gas  121000.0    automatic   NaN        NaN       NaN
447187  6 cylinders  gas  122000.0    automatic   fwd  full-size     sedan
16757   6 cylinders  gas  142000.0    automatic   fwd   mid-size     coupe
38841           NaN  gas  187486.0    automatic   fwd        NaN       NaN
65746           NaN  gas  187486.0    automatic   fwd        NaN       NaN
...             ...  ...       ...          ...   ...        ...       ...
126299  6 cylinders  gas  130000.0    automatic   4wd        NaN       SUV
230473  6 cylinders  gas   57000.0       manual   4wd        NaN       SUV
78474   8 cylinders  gas   42000.0    automatic   4wd  full-size       SUV
453909  6 cylinders  gas  119799.0    automatic   fwd   mid-size  mini-van
470946  6 cylinders  gas  119799.0    automatic   fwd  full-size  mini-van

[379829 rows x 12 columns]

In [32]:
df = df[~df['manufacturer'].isin(['alfa-romeo','hennessey','harley-davidson','porche', 'land rover','tesla','aston-martin','ferrari'])]
df_uniq = df[df['manufacturer'].isin(['alfa-romeo','hennessey','harley-davidson','porche', 'land rover','tesla','aston-martin','ferrari'])] 
df = df[~df['fuel'].isin(['other'])]

In [33]:
df['model'] = df['model'].fillna(method= 'bfill')
df['drive'] = df['drive'].fillna(method= 'bfill')
df['transmission'] = df['transmission'].fillna(method= 'ffill')
df['cylinders'] = df['cylinders'].fillna(method= 'bfill')
df['size'] = df['size'].fillna(method= 'bfill')
df['fuel'] = df['fuel'].fillna(method= 'ffill')
df['type'] = df['type'].fillna(method= 'bfill')
df['manufacturer'] = df['manufacturer'].fillna(method= 'ffill')

In [34]:
df.isnull().sum()

price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
drive           0
size            0
type            0
dtype: int64

In [35]:
model = df['model']
model.value_counts()

f-150                       7688
silverado 1500              5175
1500                        4601
silverado                   3211
wrangler                    2938
                            ...
f-250 sd lariat crew cab       1
express passenger lt 3         1
promaster 1500 low roof        1
gli 1.8t turbo jetta           1
Doge Charger GT                1
Name: model, Length: 25401, dtype: int64

In [36]:
cylinders = df['cylinders']
cylinders.value_counts()

6 cylinders     133615
4 cylinders     122704
8 cylinders     104381
5 cylinders       3221
10 cylinders      2009
other             1483
3 cylinders        614
12 cylinders       139
Name: cylinders, dtype: int64

In [37]:
df = df[~df.cylinders.str.contains("other")]

In [38]:
size = df['size']
size.value_counts()

full-size      194747
mid-size       111503
compact         52295
sub-compact      8138
Name: size, dtype: int64

In [39]:
fuel = df['fuel']
fuel.value_counts()

gas         333922
diesel       29218
hybrid        3287
electric       256
Name: fuel, dtype: int64

In [40]:
transmission = df['transmission']
transmission.value_counts()

automatic    327960
manual        19900
other         18823
Name: transmission, dtype: int64

In [41]:
df[df['transmission'].str.match('other')]

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type
170291,3600,1997.0,acura,integra,good,4 cylinders,gas,136577.0,other,fwd,sub-compact,hatchback
507711,3600,1997.0,acura,integra,good,4 cylinders,gas,136577.0,other,fwd,compact,hatchback
510869,3600,1997.0,acura,integra,good,4 cylinders,gas,136577.0,other,fwd,compact,hatchback
14000,20999,2014.0,acura,mdx,good,6 cylinders,gas,70188.0,other,4wd,full-size,SUV
98637,16995,2013.0,acura,mdx,good,6 cylinders,gas,122940.0,other,4wd,mid-size,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...
81346,4999,2008.0,volvo,smart fortwo passion,excellent,4 cylinders,gas,45000.0,other,fwd,sub-compact,coupe
188008,4400,2008.0,volvo,smart fortwo passion,excellent,3 cylinders,gas,59900.0,other,fwd,compact,coupe
412041,3877,2009.0,volvo,smart fortwo passion,fair,3 cylinders,gas,87000.0,other,rwd,compact,convertible
354812,7995,2013.0,volvo,suburu impreza,excellent,4 cylinders,gas,88000.0,other,4wd,mid-size,hatchback
170851,6200,2013.0,volvo,volkwagen beetle,excellent,8 cylinders,gas,45323.0,other,rwd,compact,coupe

In [42]:
type2 = df['type']
type2.value_counts()

SUV            92270
sedan          92159
pickup         50892
truck          46825
coupe          18381
other          13772
hatchback      13550
wagon          12520
van            10666
convertible     7610
mini-van        6869
offroad          648
bus              521
Name: type, dtype: int64

In [43]:
list(df)

['price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'transmission',
 'drive',
 'size',
 'type']

In [44]:
df.to_csv('vehicles_cleaned.csv')